---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: 'feta-orbit';
    src: url('../fonts/feta-orbit-webfont.woff2') format('woff2'),
         url('../fonts/feta-orbit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Our variables
$base-font-family: 'feta-orbit', sans-serif;
$base-font-size:   16px;
$base-font-weight: normal;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #bbcbdb;
$background-color: #000000;
$brand-color:      #b8d5eb;
$post-background-color: rgba(0,0,0,0.6);

$grey-color:       darken($text-color, 15%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "lightbox"
;
