---
layout: default
---

<div class="post">
    <h1>Welcome</h1>
    <p>
        Welcome to the <em>Critical Mission</em> website. <em>Critical Mission</em>
        is a local-area multiplayer starship bridge simulator (read more <a href="{{site.baseurl}}/about">here</a>).
        Gather your crew, take over a station and command your ship -- you have the bridge!
    </p>
</div>

<div class="post">
    <h1>News</h1>
    <p>
        <b>2017-10-02</b>
        - Feeding the website with some information
    </p>
    <p>
        <b>2017-06-28</b>
        - The first version of the website goes online
    </p>
</div>

<div class="home post">
  <h1 class="page-heading">Dev Blog</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> - {{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
