/**
 * Site header
 */


#banner {
    width: 90%;
    max-width: 600px;
    margin: 2em 0;
}

.site-nav {
    a {
        display: inline-block;

        font-size: 1.2em;
        margin-bottom: .6em;
        padding: 0.3em 1em;
        line-height: 1.1em;

        text-align: center;
        text-decoration: none;
        font-variant: small-caps;

        background-color: rgba(0,0,0,0.4);
        background: linear-gradient(to right,
        rgba(81, 186, 255, 0.01) 0%,
        rgba(81, 186, 255, 0.3) 50%,
        rgba(81, 186, 255, 0.01) 100%);
        color: rgb(201, 236, 255);

        border: 0.15em solid rgba(101, 206, 255, 0.5);
        border-left: none;
        border-right: none;
    }

    a:focus {
        outline: none;
    }

    a:hover{
        background: linear-gradient(to right,
        rgba(81, 186, 255, 0.01) 0%,
        rgba(81, 186, 255, 0.5) 50%,
        rgba(81, 186, 255, 0.01) 100%);
    }

    .menu-icon {
        display: none;
    }

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        padding-top: 0.8em;
    }

    @include media-query($on-palm) {
        position: fixed;
        top: 9px;
        left: auto;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border-radius: 5px;
        text-align: right;

        &.sticky {
            padding-top: 0;
            position: fixed;
            top: 9px;
            left: auto;
            right: $spacing-unit / 2;
            background-color: $background-color;
            border-radius: 5px;
            text-align: right;
        }

        .menu-icon {
            display: block;
            float: right;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            margin: 0.1em;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brand-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;

            a {
                display: block;
                margin-bottom: 0;
                margin-top: 0.5em;
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }
    }
}


.site-header {
    text-align: center;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


.post {
    font-size: 0.8em;
    line-height: 1.9em;
    padding: 2em;
    background-color: $post-background-color;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



// ------------------------
