
.media {
    text-align: center;

    img {
        margin: 0.5em;
        cursor: pointer;
        box-shadow: 0 0 0.6em darken($brand-color, 50%);

        &:hover {
            box-shadow: 0 0 0.6em darken($brand-color, 30%);
        }
    }
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    padding: 2em 0;
    text-align: center;
    z-index: 100;

    display: none;
    background-color: rgba(50, 50, 50, 0.5);
    white-space: nowrap;

    #lightboxContent {
        width: 90%;
        background-image: url(../img/throbber.gif);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            margin: auto;
            position: relative;
            cursor: pointer;
            transition: width 0.5s, height 0.5s;
        }
    }

    span {
        cursor: pointer;
        font-size: 2em;
        color: $brand-color;

        &:hover {
            color: $text-color;
        }
    }
}
