<!DOCTYPE html>
<html>
  {% include head.html %}
  <body onscroll="onScroll()">
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <script type="application/javascript">
        var mediaTags = document.getElementsByClassName("media");
        for(var i = 0; i < mediaTags.length; i++) {
            new Lightbox(mediaTags[i]);
        }

        var pageContent = document.getElementsByClassName("page-content")[0];
        var navbar = document.getElementById("navbar");
        function onScroll() {
            if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
                navbar.classList.add("sticky");
            }
            else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
  </body>
</html>
